@{
    ViewBag.ActiveMenu = PageNames.About; //The menu item will be active for this page.
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                   Itsm rapor araçı nedir?
                </h2>
            </div>
            <div class="body">
                <p>
                    bla bla bla <a href="http://iksap.com" target="_blank">iksap.com</a>.
                </p>

               
            </div>
        </div>
    </div>
</div>